<div class="banner-bottom">
  <div class="container">
    <div class="banner-bottom-grids">
      <div class="col-md-6 banner-bottom-left wow fadeInLeft animated" data-wow-delay=".5s">
          <a href="<%= how_to_enroll_path %>">
          <div class="left-border">
            <div class="left-border-info">
              <p>How to enroll? Find Out!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 banner-bottom-left banner-bottom-right wow fadeInRight animated" data-wow-delay=".5s">
        <a href="<%= contact_path %>">
          <div class="left-border">
            <div class="left-border-info right-border-info">
              <p>Don't find what you are looking for? Contact us!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
