<!-- about -->
  <div class="about">
    <div class="about-heading">
      <div class="container">
        <h2 class="wow fadeInDown animated" data-wow-delay=".5s">About ZuluPlus</h2>
        <p class="wow fadeInUp animated" data-wow-delay=".5s">ZuluPlus is a firm to help you find the courses and activities you like and provide you with best trainers and facilities across the nation enabling you to pursue your interests. Now you won't have the excuse of hassles involved in finding the course that you have always wanted to go for but could never find time to even research upon.</p>
      </div>
    </div>
    <div class="about-top">
      <div class="container">
        <div class="about-bottom">
          <%= image_tag 'info/about.png', class: 'wow fadeInUp animated', data: { 'wow-delay' => '.5s' } %>
          <p class="wow fadeInUp animated" data-wow-delay=".5s">We are young but continiously to bring you your favorite ones. You can also <%= link_to 'give us suggestions', contact_path %> to add new courses that you like and we'll make sure to do our best to make it available.</p>
        </div>
      </div>
    </div>
    
    <% if false %>
      <!-- team -->
      <div class="team">
        <div class="container">
          <div class="popular-heading team-heading">
            <h3 class="wow fadeInUp animated" data-wow-delay=".5s">Our Team</h3>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">We are a team of passionate people and we truly believe in ZuluPlus. We are working continiously to find new activities for you and also working hard to make the courses as widely accessible as possible.</p>
          </div>
          <div class="team-grids">
            <div class="col-md-4 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
              <%= image_tag 'team/udit.png' %>
              <h4>Udit Mittal</h4>
              <p>Founder &amp; Technical Head</p>
              <div class="social-icons team-icons">
                <ul>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 team-grid wow fadeInUp animated" data-wow-delay=".5s">
              <%= image_tag 'team/shakti.png' %>
              <h4>Shakti Mehra</h4>
              <p>Founder &amp; Business Head</p>
              <div class="social-icons team-icons">
                <ul>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- //team -->
  </div>
<!-- //about -->
