<!-- privacy policy -->
  <div class="about">
    <div class="about-heading">
      <div class="container">
        <h2 class="wow fadeInDown animated" data-wow-delay=".5s">Privacy Policy</h2>
      </div>
    </div>
    <div class="about-top">
      <div class="container">
        <div class="about-bottom">
          <%image_tag 'info/about.png', class: 'wow fadeInUp animated', data: { 'wow-delay' => '.5s' } %>
          <h4 class="double-line-space">ZuluPlus takes the privacy of its users seriously. We are committed to safeguarding the privacy of our users while providing a personalised and valuable service. This Privacy Policy statement explains the data processing practices of www.zuluplus.com. If you have any requests concerning your personal information or any queries with regard to these practices please <a href="<%= contact_path %>">contact us</a>.</h4>
          <br />
          <ul class="double-line-space">
            <li>ZuluPlus collects personal information when you register or when you provide such information voluntarily.</li>
            <li>We use cookies and other technologies to find out how you use ZuluPlus.</li>
            <li>ZuluPlus accesses information automatically when you visit our site. This information includes URL, IP-address, browser-type, language as well as date and time of your visit.</li>
            <li>We don't pass on personal information to any third party beyond other ZuluPlus users as specified above without your explicit approval.</li>
            <li>Only summarized de-personalized information is provided to third parties.</li>
            <li>Personal information is used for providing services requested by the user including services with personalized content.</li>
            <li>Additionally, we use your personal information for internal research in order to improve your online experience as well as our technologies and services.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- //privacy policy -->
