<!-- terms and conditions -->
  <div class="about">
    <div class="about-heading">
      <div class="container">
        <h2 class="wow fadeInDown animated" data-wow-delay=".5s">Terms &amp; Conditions</h2>
      </div>
    </div>
    <div class="about-top">
      <div class="container">
        <div class="about-bottom">
          <p class="double-line-space">The Website Owner, including subsidiaries and affiliates (zuluplus.com” or ZuluPlus” or “we” or “us” or “our”) provides the information contained on the website or any of the pages comprising the website (“website”) to visitors (“visitors”) (cumulatively referred to as “you” or “your” hereinafter) subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any other relevant terms and conditions, policies and notices which may be applicable to a specific section or module of the website.</p>
          <p class="double-line-space">Please keep in mind that 'zuluplus.com' is a registered website domain and any use of it without prior permission might lead to strong legal action. </p>
          <h3 class="site-green-text">Enrollment</h3>
          <p class="double-line-space">Enrollment in a course is subject to availability. Visitors have the option to enroll in the course they want and also specify the location and batch for the course they are interested in. In any unlikely case, if the seats in the batch have been filled or due to any other reason, the enrollment may be cancelled or changed. The visitor shall be notified the same on the contact mediums provided during the registration.</p>
          <h3 class="site-green-text">Enrollment Cancellation</h3>
          <p class="double-line-space">Enrollment can be cancelled without any panelty one week prior to course start date. After that, no amount shall be refunded. In case visitor has enrolled for a course one week or less prior to course batch start date, one hour shall be granted to the visitor to cancel the enrollment after which no amount shall be refunded.</p>
          <h3 class="site-green-text">Payment</h3>
          <p class="double-line-space">On receiving the request for an enrollment, ZuluPlus shall reach out the the visitor and ask for the payment by NEFT. Once the amount has been transferred to ZuluPlus account, the enrollment shall be confirmed and the notification for the same shall be communicated to the visitor on the communication medium shared during the registration.</p>
        </div>
      </div>
    </div>
  </div>
<!-- //terms and conditions -->
