<p>We have a new enquiry from a customer</p>
<p><strong>Customer Name: </strong><%= @user_name %></p>
<p><strong>Customer Email: </strong><%= @user_email %></p>
<p><strong>Customer Feedback: </strong><%= @enquiry %></p>
